#bg{
  background-image: url("snow.avif");
  background-size: cover;
  background-attachment: fixed;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
}
.card{
  border-radius: 10px;
}
.card-body{
  background-color: rgb(244, 162, 55);
  border-radius: 10px;
}
.btn{
  color: black;
  background-color: rgb(9, 138, 95);
}


footer{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(244, 162, 55);
}
.social-icons i{
  font-size: 25px;
  color: black;
}
.social-icons i:hover{
  color: white;
}
