
.section{
  font-family:'Poppins', sans-serif; 
  background-image: url(snow.avif);
}
 .card-info{
  background-color: aqua;
}
.card-body{
  background-color: rgb(244, 162, 55);
}
.container{
  background-image: url(stonewall.jpg);
}
footer{
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(244, 162, 55);
}
.social-icons{
  display: flex;
  color: black;
}
